/* line 29, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin-top: 50px;
}

/* line 38, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.error, .notice {
  margin: 0;
  background-color: rgba(215, 44, 44, 0.5);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

/* line 46, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.notice {
  background-color: rgba(26, 107, 255, 0.5);
}

/* line 56, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.form .tt {
  height: 44px;
  border: 1px solid #1abc9c;
  border-radius: 5px;
  color: #1abc9c;
}
/* line 62, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.form .tt:focus {
  border: 1px solid #f1c40f;
  box-shadow: none;
}
/* line 68, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.form .register-button {
  background-color: #f1c40f;
  border-radius: 5px;
  width: 350px;
  height: 55px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
/* line 80, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.form .register-button:hover {
  background-color: #1abc9c;
}

/* line 87, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
::-webkit-input-placeholder {
  color: #1abc9c;
}

/* line 91, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
:-moz-placeholder {
  color: #1abc9c;
}

/* line 95, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
::-moz-placeholder {
  color: #1abc9c;
}

/* line 99, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
:-ms-input-placeholder {
  color: #1abc9c;
}

/* line 105, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.moduleProcurement {
  background-image: url("modules/intro-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: -1px;
  height: 660px;
}

/* line 116, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.space {
  height: 5px;
  background-color: #f1c40f;
  width: 220px;
  margin: 0 0 5% 4%;
}

/* line 122, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.module-logo {
  width: 300px;
  height: 80px;
  margin-top: 10%;
}

/* line 127, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modProc-title {
  color: white;
  font-size: 80px;
  margin: 0 0 10% 4%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 0 0 2%;
}

/* line 134, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modProc-quote {
  color: white;
  font-size: 50px;
  margin: 0 0 0 4%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2%;
}

/* line 141, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modProc-subtitle {
  color: white;
  font-size: 30px;
  margin: 5% 0 0 4%;
}

/* line 146, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modProc-subquote {
  color: white;
  font-size: 18px;
  margin: 0 0 0 4%;
  text-align: justify;
}

/* line 152, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modProc-form {
  background: rgba(255, 255, 255, 0.2);
  padding: 5%;
  position: relative;
  top: 200px;
  border-radius: 5px;
}

/* line 159, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modProc-form-title {
  color: white;
  font-size: 25px;
  margin: 0 0 1% 0;
}

/* line 164, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modProc-form-quote {
  color: white;
  font-size: 14px;
  margin: 0 10% 5% 0;
}

/* line 172, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.moduleVehicle {
  position: relative;
  top: -1px;
  height: 659px;
  background-image: url("modules/5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 183, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.layer-moduleVehicle {
  background-color: rgba(0, 68, 108, 0.4);
  height: 659px;
}

/* line 187, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modV {
  background-color: rgba(0, 0, 0, 0.3);
  height: 659px;
}

/* line 192, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modV-arrows {
  margin-top: -45px;
}

/* line 195, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modV-logo {
  height: 50px;
  margin: 5% 0 0 25%;
}

/* line 199, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.line {
  height: 5px;
  background-color: #f1c40f;
  margin: 0 0 0 25%;
  width: 220px;
}

/* line 205, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modV-subtitle {
  color: white;
  font-size: 30px;
  margin: 5% 0 0 4%;
}

/* line 210, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modV-subquote {
  color: white;
  font-size: 18px;
  margin: 0 0 0 4%;
  text-align: center;
}

/* line 217, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modV-form {
  background: rgba(255, 255, 255, 0.2);
  padding: 5%;
  border-radius: 5px;
  margin: 5% 0 0 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}

/* line 224, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modV-form-title {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* line 235, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.logo-head {
  background-color: #1a2531;
}

/* line 238, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modStories-logo {
  width: 310px;
  height: 100px;
  margin: 5% 0 8% 40%;
}

/* line 244, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.moduleStories {
  width: 100%;
  height: 659px;
  background-image: url("modules/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 254, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modStories-form {
  background: rgba(36, 36, 36, 0.8);
  padding: 10% 5% 0 5%;
  height: 659px;
}

/* line 259, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modStories-form-title {
  color: white;
  font-size: 35px;
}

/* line 263, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modStories-form-quote {
  color: white;
  font-size: 18px;
  margin: -4% 0 8% 0;
  text-align: justify;
}

/* line 269, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modStories-footer {
  background-color: #1a2531;
}

/* line 272, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.logo-quote a {
  color: white;
  font-size: 25px;
  margin: 0 0 0 5%;
  padding: 5% 2% 5% 2%;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #f1c40f;
}
/* line 285, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.logo-quote a:hover {
  color: #f1c40f;
  border-left: 4px solid white;
}

/* line 291, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modStories-arrows {
  margin: 25% 0 0 0;
  position: relative;
  left: 120px;
}

/* line 299, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.moduleMonitor {
  height: 660px;
  position: relative;
  top: -2px;
  background-image: url("modules/6.jpg");
  background-size: cover;
}

/* line 308, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modMonitor-form {
  margin: 8% 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5%;
  border-radius: 3px;
}

/* line 314, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modmon-form-title {
  color: #F1C40F;
  font-size: 35px;
}

/* line 318, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modmon-form-quote {
  color: black;
  font-size: 18px;
  margin: -4% 0 8% 0;
}

/* line 323, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.monitor-logo {
  width: 220px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3%;
  position: relative;
  top: 50px;
  margin: 0 0 0 -7.5%;
  border-radius: 0 5px 5px 0;
}

/* line 332, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.layer-modMon {
  height: 661px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("modules/pattern.png");
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-size: auto, cover;
}

/* line 343, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.white-arrows {
  width: 32px;
  margin: 3% 0 0 13%;
}

/* line 348, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modmon-title {
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3%;
  margin: 18% 0 0 -7.5%;
  border-radius: 0 5px 5px 0;
}

/* line 357, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modmon-arrow {
  width: 40px;
  margin: 4% 0 0 -5%;
}

/* line 364, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.moduleManagement {
  height: 660px;
  position: relative;
  top: -2px;
  background-size: cover;
  background-image: url("modules/3.jpg");
}

/* line 373, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modManage-form {
  margin: 8% 0 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5%;
  border-radius: 5px;
  position: relative;
  top: 100px;
}

/* line 381, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.ManageLogo {
  margin-top: 30px;
}

/* line 384, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.manage-logo {
  background-color: #1abc9c;
  height: 6px;
  width: 220px;
  margin: 0 0 0 25%;
}

/* line 391, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.quick {
  width: 35px;
  margin: 3%;
}

/* line 395, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modManage-title {
  color: white;
  font-size: 25px;
}

/* line 400, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modManage-quote {
  color: white;
  font-size: 14px;
  margin-bottom: 8%;
}

/* line 406, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modManage-subtitle {
  font-size: 40px;
  font-weight: bolder;
  color: black;
  margin: 40px 0 0 0;
  text-align: left;
  padding-left: 2%;
  border-left: 5px solid #f1c40f;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 418, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.modManage-subquote {
  color: black;
  margin-top: 10px;
  text-align: left;
  padding-left: 2%;
  border-left: 5px solid #f1c40f;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 35px;
  font-weight: bolder;
}

/* line 432, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.Manage-title {
  text-align: right;
  padding-right: 2%;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 5px solid #f1c40f;
  font-weight: bold;
  font-size: 30px;
}

/* line 443, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/module.css.scss */
.Manage-quote {
  text-align: right;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2%;
  border-right: 5px solid #f1c40f;
}
