/* line 41, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.orbit-timer {
  display: none;
}

/* line 45, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin-top: 50px;
}

/* line 54, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.error, .notice {
  margin: 0;
  background-color: rgba(215, 44, 44, 0.5);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

/* line 62, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.notice {
  background-color: rgba(26, 107, 255, 0.5);
}

/* line 67, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer {
  position: relative;
  margin-top: -57%;
  width: 100%;
  height: 668px;
  background-color: rgba(0, 68, 108, 0.4);
  background-image: url("templateA/pattern.png");
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-size: auto, cover;
}

/* line 81, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.head-ft {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1%;
  position: relative;
  left: 5%;
  margin-bottom: 4%;
}
/* line 88, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.head-ft p {
  margin: 2% 0 2% 0;
  font-size: 18px;
}

/* line 94, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.head-foot-title {
  color: white;
  font-size: 24px;
  margin: 5% 0 0 -25%;
}

/* line 100, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.head-i {
  color: #f1c40f;
  margin-left: -25%;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
}

/* line 110, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.space {
  margin: 5%;
}

/* line 114, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.logo-quote {
  position: relative;
  top: -130px;
}

/* line 119, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer-intro {
  position: relative;
  top: 2px;
  color: white;
}
/* line 123, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer-intro .logo {
  margin: 5% 1% 0 1%;
  width: 240px;
  height: 75px;
}
/* line 129, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer-intro .phone {
  position: relative;
  top: -130px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}
/* line 136, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer-intro .layer-headT {
  color: white;
  position: relative;
  top: 20px;
}
/* line 141, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer-intro h2 {
  margin-top: 15%;
  color: white;
}
/* line 146, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer-intro .head-subtitle {
  color: white;
  font-size: 20px;
}

/* line 152, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.phone-content {
  margin: 7% 0 0 5%;
  height: 500px;
}

/* line 157, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.form {
  margin: 0 5% 0 0;
}

/* line 161, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.form .tt {
  height: 45px;
  border: 1px solid #1abc9c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #1abc9c;
  margin: 4% 0 4% 0;
}
/* line 168, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.form .tt:focus {
  border: 1px solid #f1c40f;
  box-shadow: none;
}

/* line 174, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
::-webkit-input-placeholder {
  color: #1abc9c;
}

/* line 178, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
:-moz-placeholder {
  color: #1abc9c;
}

/* line 182, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
::-moz-placeholder {
  color: #1abc9c;
}

/* line 186, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
:-ms-input-placeholder {
  color: #1abc9c;
}

/* line 190, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.form .register-button {
  background-color: #f1c40f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 350px;
  height: 55px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
/* line 202, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.form .register-button:hover {
  background-color: #1abc9c;
}

/* line 206, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.phone-title {
  color: #34495e;
  font-size: 25px;
  margin: 0 0 1% 0;
}

/* line 211, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.phone-quote {
  color: #7f8c8d;
  font-size: 14px;
  margin: 0 10% 5% 0;
}

/* line 217, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features {
  background-size: cover;
  margin: 0 0 -0.28% -5%;
}
/* line 221, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features .arrow-down {
  width: 60px;
  height: 50px;
  margin-bottom: 10%;
}
/* line 227, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features h1 {
  margin-top: 3%;
  color: #34495e;
}
/* line 232, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features span {
  color: #1abc9c;
  font-weight: bold;
  font-size: 50px;
}
/* line 240, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features h3 {
  color: #34495e;
}
/* line 244, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features p {
  color: #95a5a6;
}
/* line 248, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features .features-icons {
  width: 100px;
  height: 95px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 253, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.features .features-icons:hover {
  -webkit-border-radius: 115px;
  -moz-border-radius: 115px;
  -ms-border-radius: 115px;
  border-radius: 115px;
  background-color: #f1c40f;
}

/* line 260, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules {
  background: url("templateA/41.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 269, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules h1 {
  margin-top: 10%;
  color: white;
}
/* line 274, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules span {
  font-weight: bold;
  color: #f1c40f;
}
/* line 279, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules .sub-module {
  color: white;
  font-size: 20px;
  text-align: right;
}
/* line 285, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules h4 {
  color: #34495e;
}
/* line 287, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules p {
  color: #95a5a6;
  font-size: 17px;
  margin: 0 8% 0 8%;
}
/* line 293, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules .module-icons {
  margin-top: 4%;
  width: 65px;
  height: 60px;
}

/* line 300, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.layer-modules {
  background-color: rgba(0, 68, 108, 0.6);
  height: 700px;
}

/* line 305, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.modules-box {
  background-color: white;
  border: 1px solid #f1c40f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: 13% 10% 0 10%;
  width: 330px;
  height: 340px;
}

/* line 314, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.arrow-icon {
  width: 100px;
  height: 100px;
  margin: 60% 0 0 80%;
}

/* line 320, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.quote {
  height: 250px;
  background-size: cover;
}
/* line 324, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.quote h1 {
  margin-top: 5%;
  color: #34495e;
  text-align: center;
}
/* line 330, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.quote span {
  color: #f1c40f;
}
/* line 334, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.quote h4 {
  color: #34495e;
  text-align: center;
}

/* line 341, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.footer {
  background-color: #1A2531;
  border-bottom: 3px solid #f1c40f;
}
/* line 345, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.footer p {
  color: #f1c40f;
  margin-top: 1%;
  text-align: center;
}

/* line 352, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.bought {
  background-color: #1A2531;
  height: 300px;
  border-top: 2px solid #f1c40f;
}
/* line 357, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.bought .layer-bought {
  background-color: rgba(20, 23, 32, 0.6);
  height: 300px;
}
/* line 362, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.bought h1 {
  color: white;
  margin: 5%;
}
/* line 367, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.bought p {
  color: white;
  font-size: 20px;
  text-align: center;
}
/* line 373, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.bought .button {
  height: 50px;
  margin-left: 10%;
  background-color: transparent;
  font-weight: bold;
  border: 3px solid #1abc9c;
  color: #1abc9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 382, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateA.css.scss */
.bought .button:hover {
  background-color: #f1c40f;
  color: white;
  border: 3px solid #f1c40f;
  font-weight: bold;
}
