/** color **/
/** font **/
/* line 32, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.body {
  background: url("templateD/compass.png") !important;
  background-attachment: fixed !important;
}

/* line 37, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.head {
  position: relative;
  height: 659px;
}

/* line 42, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.layer {
  background-color: rgba(36, 36, 36, 0.8);
  height: 659px;
}

/* line 47, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-hr {
  width: 100px;
  margin: -7% 0 0 3%;
  border: 2px solid gold;
}

/* line 52, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.introform-hr {
  width: 100px;
  margin: -7% 0 0 0;
  border: 2px solid gold;
}

/* line 58, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.feature-hr {
  width: 120px;
  margin: 0 0 5% 10%;
  border: 2px solid gold;
}

/* line 64, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.modules-hr {
  width: 120px;
  margin: 5% 0 2% 10%;
  border: 2px solid gold;
}

/* line 70, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices-hr {
  width: 120px;
  margin: 5% 0 2% 20%;
  border: 2px solid gold;
}

/* line 76, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form {
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 79, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .social-media {
  margin-top: 12%;
}
/* line 82, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .social-media h5 {
  color: darkgrey;
  font-family: "Droid Sans", sans-serif;
}
/* line 88, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .social-icons {
  margin-top: -6%;
  width: 50px;
}
/* line 93, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .form-content {
  margin-top: 33%;
}
/* line 96, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .form-content h4 {
  text-align: center;
  color: darkgrey;
  font-family: "Droid Sans", sans-serif;
}
/* line 104, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .form {
  margin: 10% 0 14% 0;
}
/* line 108, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .form input {
  border-radius: 5px;
  border: 2px solid gold;
  background-color: white;
  height: 45px;
}
/* line 115, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .form input[type=text]:focus {
  border-radius: 5px;
  border: 2px solid gold;
  font-family: "Droid Sans", sans-serif;
}
/* line 121, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form .form label {
  color: darkgrey;
  font-family: "Droid Sans", sans-serif;
}
/* line 125, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form button {
  margin-top: 5%;
  border-radius: 5px;
  font-family: "Droid Sans", sans-serif;
  font-size: 18px;
  width: 305px;
  background-color: gold;
}
/* line 134, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-form button:hover {
  background-color: yellow;
}

/* line 140, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-content {
  margin-top: 14%;
}
/* line 143, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-content h1 {
  color: white;
  font-family: "Droid Sans", sans-serif;
}
/* line 148, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-content .intro-desc {
  color: darkgrey;
  font-size: 20px;
  font-family: "Droid Sans", sans-serif;
}
/* line 154, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-content .intro-footer {
  margin-top: 15%;
  color: white;
  font-size: 24px;
  font-family: "Droid Sans", sans-serif;
}
/* line 161, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.intro-content h3 {
  margin-top: -3%;
  color: white;
  font-style: italic;
  font-weight: bold;
}

/* line 169, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.img-logo {
  width: 180px;
}

/* line 173, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.features {
  background-color: #ebeaea;
  padding: 3% 0 2% 0;
}
/* line 177, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.features .feature-title {
  color: #384047;
  font-family: "Droid Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 10%;
}
/* line 184, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.features .features-icons {
  height: 70px;
  margin: 20% 10% 0 21%;
}
/* line 190, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.features .ft-icn {
  background-color: gold;
  height: 130px;
  width: 130px;
  border: 1px solid white;
  border-radius: 70px;
}
/* line 197, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.features .ft-icn:hover {
  -webkit-animation: changecolor 5s;
  animation: myfirst 5s;
}
/* line 203, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.features h3 {
  margin-left: 10%;
  font-size: 20px;
}
/* line 208, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.features p {
  color: darkgrey;
  font-size: 15px;
  margin: 0 25% 0 -15%;
  text-align: center;
}

/* line 216, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.modules {
  background-color: white;
}
/* line 219, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.modules .modules-title {
  color: #384047;
  font-family: "Droid Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 5%;
}
/* line 226, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.modules .submod-title {
  color: gold;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}
/* line 232, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.modules .submod-subtitle {
  color: darkgrey;
  font-family: "Droid Sans", sans-serif;
}

/* line 238, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices {
  background-color: #ebeaea;
  width: 100%;
}
/* line 242, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .prices-title, .prices .prices-subtitle {
  color: #384047;
  font-family: "Droid Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 5%;
}
/* line 249, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .prices-subtitle {
  margin-bottom: 5%;
}
/* line 254, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .subprices-title {
  font-size: 20px;
}
/* line 258, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .subprices-subtitle {
  color: darkgrey;
  font-size: 15px;
}
/* line 263, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .prices-sub {
  color: #384047;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 5%;
}
/* line 270, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .planA, .prices .planB {
  height: 155px;
  border-radius: 10px;
  margin-bottom: 5%;
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e767), color-stop(100%, #feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -o-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -ms-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}
/* line 281, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .buyer-title {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}
/* line 290, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .app-price {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 45px;
  text-align: center;
}
/* line 297, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.prices .small-app-text {
  font-size: 18px;
}

/* line 303, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.test-pic {
  margin: 20% 0 5% 0;
  height: 350px;
}

/* line 309, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.subscribe {
  height: 350px;
}
/* line 312, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.subscribe h1 {
  margin-top: 10%;
  color: white;
  font-family: "Droid Sans", sans-serif;
}
/* line 318, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.subscribe p {
  color: darkgrey;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}
/* line 325, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.subscribe button {
  margin-top: 5%;
  border-radius: 5px;
  font-family: "Droid Sans", sans-serif;
  font-size: 18px;
  background-color: gold;
}
/* line 333, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.subscribe button:hover {
  background-color: yellow;
}
/* line 337, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
.subscribe .sub-layer {
  height: 350px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 343, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
footer {
  background-color: white;
  padding: 0.50%;
}
/* line 347, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
footer span {
  color: black;
  font-family: "Droid Sans", sans-serif;
}

@-webkit-keyframes changecolor {
  /* line 353, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  0% {
    background: gold;
  }

  /* line 354, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  25% {
    background: white;
    border-color: white;
  }

  /* line 355, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  50% {
    background: darkgrey;
    border-color: darkgrey;
  }

  /* line 356, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  100% {
    background: gold;
  }
}

@keyframes changecolor {
  /* line 360, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  0% {
    background: gold;
  }

  /* line 361, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  25% {
    background: white;
    border-color: white;
  }

  /* line 362, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  50% {
    background: darkgrey;
    border-color: darkgrey;
  }

  /* line 363, /home/mimo/Documents/Yardstiq/app/assets/stylesheets/templateD.css.scss */
  100% {
    background: gold;
  }
}
