%section.logo-head
  .row
    .large-5.columns
      = image_tag 'templateA/yrdstiq1.png', :class=>"modStories-logo"
%section.moduleStories{:contenteditable => "true"}
  .layer-modS
    .row
      .large-5.columns
        .modStories-form
          %p.modStories-form-title Stories from the Field
          %p.modStories-form-quote Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
          = render "contacts/form"