%section.logo-head{:contenteditable => "true"}
  .row
    .large-5.columns
      = image_tag 'templateA/yrdstiq1.png', :class=>"modStories-logo"
    .large-3.large-offset-4.columns.logo-quote
      = link_to "Submit your information!", welcome_templateA_path
%section.moduleStories
  .layer-modS
    .row
      .large-5.columns
        .modStories-form
          %p.modStories-form-title Stories from the Field
          %p.modStories-form-quote Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt.
          = render "contacts/form"