%section.moduleProcurement{:contenteditable => "true"}
  .row
    .large-7.columns
      .row
        .large-12.columns
          = link_to image_tag('modules/yrdstiq1.png', :class=>"module-logo"), url_for('/welcome/templateA')
          .space
      .row
        .large-12.columns
          %p.modProc-title Beyond Utility
          %span.modProc-quote Experience Beyond
      .row
        .large-12.columns
          %p.modProc-subtitle Procurements
          %p.modProc-subquote Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat.
      .row
        .large-4.columns
          = link_to image_tag('modules/rightarrow.png', :class => 'white-arrows'), url_for('/moduleVehicle')
    .large-5.columns
      .modProc-form
        %p.modProc-form-title Interested in our product?
        %p.modProc-form-quote Let us walk you through our product and let us give you the opportunity to try it.
        = render "contacts/form"