.form
  .row
    .large-12.columns
      %input{:class=>"tt", :type => "text", :placeholder=>"Full Name *"}/
    .large-12.columns
      %input{:class=>"tt",:type => "text", :placeholder=>"Email *"}/
    .large-12.columns
      %input{:class=>"tt",:type => "text",:placeholder=>"Organization *"}/
    .large-12.columns
      %input{:class=>"tt",:type => "text",:placeholder=>"Role *"}/
    .large-12.columns
      %a{:href => "#"}
        %button.small{:type => "button"} Register Now