%h1
  Welcome to Yardstick!
%p
  You have successfully submitted your contact details.
%p
  Stay Tuned and we will inform you more about Yardstick!
%p
  Thanks for joining and have a great day!

%p
  Regards,
%span
  Team Yardstick