/** module procurement **/
.moduleProcurement{
  background-image: url('modules/intro-bg.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  top:-1px;
  height:660px;
}

.space{
  height:5px;
  background-color:#FFD700;
  width:220px;
  margin:0 0 5% 4%
}
.module-logo{
  width:300px;
  height:80px;
  margin-top:10%;
}
.modProc-title{
  color:white;
  font-size:80px;
  margin:0 0 10% 4%;
  background-color: rgba(0, 0, 0, 0.3);
  padding:0 0 0 2%;
}
.modProc-quote{
  color:white;
  font-size:50px;
  margin:0 0 0 4%;
  background-color: rgba(0, 0, 0, 0.3);
  padding:2%;
}
.modProc-subtitle{
  color:white;
  font-size:30px;
  margin:5% 0 0 4%;
}
.modProc-subquote{
  color:white;
  font-size:18px;
  margin:0 0 0 4%;
  text-align:justify;
}
.modProc-form{
  background: rgba(255,255,255,0.2);
  padding:5%;
  position:relative;
  top:200px;
  border-radius:5px;
}
.form .tt{
  height:44px;
  border:1px solid #1abc9c;
  border-radius:5px;
  color: #1abc9c;

  &:focus{
    border:1px solid #F1C40F;
    box-shadow: none;
  }
}
::-webkit-input-placeholder {
   color: #1abc9c;
}

:-moz-placeholder {
   color: #1abc9c;
}

::-moz-placeholder {
  color: #1abc9c;
}

:-ms-input-placeholder {
   color:#1abc9c;
}

.form .register-button{
  background-color:#F1C40F;
  border-radius:5px;
  width:350px;
  height:55px;
  font-weight:bold;
  border:none;
  color:white;
  font-size:18px;

  &:hover{
    background-color:#1abc9c;
  }
}
.modProc-form-title{
  color:white;
  font-size:25px;
  margin:0 0 1% 0;
}
.modProc-form-quote{
  color:white;
  font-size:14px;
  margin:0 10% 5% 0;
}

//** module Vehicle **//
.moduleVehicle{
  background-image: url('modules/5.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  top:-1px;
  height:659px;
}

.layer-moduleVehicle{
  background-color: rgba(0, 68, 108, 0.4);
  height:659px;
}
.modV{
  background-color: rgba(0, 0, 0, 0.3);
  height:659px;
}

.modV-arrows{
  margin-top:-45px;
}
.modV-logo{
  height:50px;
  margin:5% 0 0 25%;
}
.line{
  height:5px;
  background-color:yellow;
  margin:0 0 0 25%;
  width:220px;
}
.modV-subtitle{
  color:white;
  font-size:30px;
  margin:5% 0 0 4%;
}
.modV-subquote{
  color:white;
  font-size:18px;
  margin:0 0 0 4%;
  text-align:center;
}

.modV-form{
  background: rgba(255,255,255,0.2);
  padding:5%;
  border-radius:5px;
  margin:5% 0 0 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}
.modV-form-title{
  color:white;
  text-align:center;
  font-size:20px;
  text-transform:uppercase;
}

/** module Stories **/
.logo-head{
  background-color:#1A2531;
}
.modStories-logo{
  width:310px;
  height:100px;
  margin:5% 0 8% 40%;
}
.moduleStories{
  background-image: url('modules/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  height:659px;
}
.modStories-form{
  background:rgba(36,36,36,0.8);
  padding:10% 5% 0 5%;
  height:659px;
}
.modStories-form-title{
  color:white;
  font-size:35px;
}
.modStories-form-quote{
  color:white;
  font-size:18px;
  margin:-4% 0 8% 0;
  text-align:justify;
}
.modStories-footer{
  background-color:#1A2531;
}
.logo-quote a{
  color:white;
  font-size:25px;
  margin:0 0 0 5%;
  border-left:4px solid #F1C40F;
  padding:5% 2% 5% 2%;
  border-top:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
  border-right:1px solid rgba(255,255,255,0.2);
  background-color:rgba(255,255,255,0.2);
  &:hover{color:#F1C40F;
    border-left:4px solid white;}
}

.modStories-arrows{
  margin:25% 0 0 0;
  position:relative;
  left:120px;
}
/** module monitor **/

.moduleMonitor{
  background-image: url('modules/6.jpg');
  height:660px;
  background-size:cover;
  position:relative;
  top:-2px;
}

.modMonitor-form{
  margin:8% 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding:5%;
  border-radius:3px;
}
.modmon-form-title{
  color: #F1C40F;
  font-size:35px;
}
.modmon-form-quote{
  color:black;
  font-size:18px;
  margin:-4% 0 8% 0;
}
.monitor-logo{
  width:220px;
  height:80px;
  background-color: rgba(0, 0, 0, 0.4);
  padding:3%;
  position:relative;
  top:50px;
  margin:0 0 0 -7.5%;
  border-radius:0 5px 5px 0;
}
.layer-modMon{
  height:661px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('modules/pattern.png');
  background-repeat: repeat, no-repeat;
  background-position: center center;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: auto, cover;
}

.white-arrows{
  width:32px;
  margin:3% 0 0 13%;
}

.modmon-title{
  color:white;
  font-size:20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding:3%;
  margin:18% 0 0 -7.5%;
  border-radius:0 5px 5px 0;
}

.modmon-arrow{
  width:40px;
  margin:4% 0 0 -5%;
}

/** module Management **/

.moduleManagement{
  background-image: url('modules/3.jpg');
  height:660px;
  background-size:cover;
  position:relative;
  top:-2px;
}

.modManage-form{
  margin:8% 0 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding:5%;
  border-radius:5px;
  position:relative;
  top:100px;
}

.ManageLogo{
  margin-top:30px;
}
.manage-logo{
  background-color:#1abc9c;
  height:6px;
  width:220px;
  margin:0 0 0 25%;
}

.quick{
  width:35px;
  margin:3%;
}
.modManage-title{
  color:white;
  font-size:25px;
}

.modManage-quote{
  color:white;
  font-size:14px;
  margin-bottom:8%;
}

.modManage-subtitle{
  color:black;
  margin:40px 0 0 0;
  font-size:40px;
  text-align:left;
  font-weight:bolder;
  padding-left:2%;
  border-left: 5px solid #F1C40F;
  background-color:rgba(255,255,255,0.2);
}
.modManage-subquote{
  color:black;
  margin-top:10px;
  font-size:35px;
  text-align:left;
  font-weight:bolder;
  padding-left:2%;
  border-left: 5px solid #F1C40F;
  background-color:rgba(255,255,255,0.2);
}


.Manage-title{
  text-align:right;
  font-size:30px;
  padding-right:2%;
  font-weight:bold;
  background-color:rgba(255,255,255,0.2);
  border-right: 5px solid #F1C40F;
}

.Manage-quote{
  text-align:right;
  background-color:rgba(255,255,255,0.2);
  padding:2%;
  border-right: 5px solid #F1C40F;
}