// colors

$white:#fff;
$yellow:#F1C40F;
$bluegreen:#1abc9c;
$darkblue:#1A2531;
$transparent-blue:rgba(215, 44, 44, 0.5);
$transparent-red:rgba(26, 107, 255, 0.5);
$transparent-gray:rgba(0, 0, 0, 0.3);
$transparent-darkgray:rgba(0, 68, 108, 0.4);
$transparent-white:rgba(255,255,255,0.2);

$up: top;

//mixins
@mixin box-shadow{
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}

@mixin posrelative($topnum){
  position:relative;
  top: $topnum;
}

// notification messages

.flash{
  position: absolute;
  #{$up}: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin-#{$up}:50px;
}

.error{
  margin:0;
  background-color: $transparent-blue;
  color:$white;
  padding:15px;
  text-align:center;
  font-size:20px;
}
.notice{
  @extend .error;
  background-color: $transparent-red;
}


//form

.form{

  .tt{
    height:44px;
    border:1px solid $bluegreen;
    border-radius:5px;
    color: $bluegreen;

    &:focus{
      border:1px solid $yellow;
      box-shadow: none;
    }
  }

  .register-button{
    background-color:$yellow;
    border-radius:5px;
    width:350px;
    height:55px;
    border:none;
    color:$white;
    font:{
      size:18px;
      weight:bold;
    }

    &:hover{
      background-color:#1abc9c;
    }
  }

}

::-webkit-input-placeholder {
   color: $bluegreen;
}

:-moz-placeholder {
   color: $bluegreen;
}

::-moz-placeholder {
  color: $bluegreen;
}

:-ms-input-placeholder {
   color:$bluegreen;
}


// module procurement
.moduleProcurement{
  background:{
    image: url('modules/intro-bg.jpg');
    image: image_path('modules/intro-bg.jpg');
    repeat: no-repeat;
    attachment:fixed;
    size:cover;
  }
  #{$up}:-1px;
  height:660px;
}

.space{
  height:5px;
  background-color:$yellow;
  width:220px;
  margin:0 0 5% 4%
}
.module-logo{
  width:300px;
  height:80px;
  margin-#{$up}:10%;
}
.modProc-title{
  color:$white;
  font-size:80px;
  margin:0 0 10% 4%;
  background-color: $transparent-gray;
  padding:0 0 0 2%;
}
.modProc-quote{
  color:$white;
  font-size:50px;
  margin:0 0 0 4%;
  background-color: $transparent-gray;
  padding:2%;
}
.modProc-subtitle{
  color:$white;
  font-size:30px;
  margin:5% 0 0 4%;
}
.modProc-subquote{
  color:$white;
  font-size:18px;
  margin:0 0 0 4%;
  text-align:justify;
}
.modProc-form{
  background: $transparent-white;
  padding:5%;
  @include posrelative(200px);
  border-radius:5px;
}

.modProc-form-title{
  color:$white;
  font-size:25px;
  margin:0 0 1% 0;
}
.modProc-form-quote{
  color:$white;
  font-size:14px;
  margin:0 10% 5% 0;
}

// module Vehicle

.moduleVehicle{
  @include posrelative(-1px);
  height:659px;
  background:{
    image: url('modules/5.jpg');
    image:image_path('modules/5.jpg');
    repeat: no-repeat;
    attachment:fixed;
    size:cover;
  }
}

.layer-moduleVehicle{
  background-color: $transparent-darkgray;
  height:659px;
}
.modV{
  background-color: $transparent-gray;
  height:659px;
}

.modV-arrows{
  margin-#{$up}:-45px;
}
.modV-logo{
  height:50px;
  margin:5% 0 0 25%;
}
.line{
  height:5px;
  background-color:$yellow;
  margin:0 0 0 25%;
  width:220px;
}
.modV-subtitle{
  color:$white;
  font-size:30px;
  margin:5% 0 0 4%;
}
.modV-subquote{
  color:$white;
  font-size:18px;
  margin:0 0 0 4%;
  text-align:center;
}

.modV-form{
  background: $transparent-white;
  padding:5%;
  border-radius:5px;
  margin:5% 0 0 0;
  @include box-shadow;
}
.modV-form-title{
  color:$white;
  font-size:20px;
  text:{
    transform:uppercase;
    align:center;
  }
}

// module Stories

.logo-head{
  background-color:$darkblue;
}
.modStories-logo{
  width:310px;
  height:100px;
  margin:5% 0 8% 40%;
}

.moduleStories{
  width:100%;
  height:659px;
  background:{
    image: url('modules/banner-bg.jpg');
    image: image_path('modules/banner-bg.jpg');
    repeat: no-repeat;
    size:cover;
  }
}

.modStories-form{
  background:rgba(36,36,36,0.8);
  padding:10% 5% 0 5%;
  height:659px;
}
.modStories-form-title{
  color:$white;
  font-size:35px;
}
.modStories-form-quote{
  color:$white;
  font-size:18px;
  margin:-4% 0 8% 0;
  text-align:justify;
}
.modStories-footer{
  background-color:$darkblue;
}
.logo-quote a{
  color:$white;
  font-size:25px;
  margin:0 0 0 5%;
  padding:5% 2% 5% 2%;
  background-color:$transparent-white;
  border:{
    #{$up}:1px solid $transparent-white;
    bottom:1px solid $transparent-white;
    right:1px solid $transparent-white;
    left:4px solid $yellow;
  }

  &:hover{
    color:$yellow;
    border-left:4px solid $white;
  }
}

.modStories-arrows{
  margin:25% 0 0 0;
  position:relative;
  left:120px;
}

// module monitor

.moduleMonitor{
  height:660px;
  @include posrelative(-2px);
  background:{
    image: url('modules/6.jpg');
    image: image_path('modules/6.jpg');
    size:cover;
  }
}

.modMonitor-form{
  margin:8% 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding:5%;
  border-radius:3px;
}
.modmon-form-title{
  color: #F1C40F;
  font-size:35px;
}
.modmon-form-quote{
  color:black;
  font-size:18px;
  margin:-4% 0 8% 0;
}
.monitor-logo{
  width:220px;
  height:80px;
  background-color: rgba(0, 0, 0, 0.4);
  padding:3%;
  @include posrelative(50px);
  margin:0 0 0 -7.5%;
  border-radius:0 5px 5px 0;
}
.layer-modMon{
  height:661px;
  background:{
    color: rgba(0, 0, 0, 0.8);
    image: url('modules/pattern.png');
    repeat: repeat, no-repeat;
    position: center center;
    size: auto, cover;
  }
}

.white-arrows{
  width:32px;
  margin:3% 0 0 13%;
}

.modmon-title{
  color:$white;
  font-size:20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding:3%;
  margin:18% 0 0 -7.5%;
  border-radius:0 5px 5px 0;
}

.modmon-arrow{
  width:40px;
  margin:4% 0 0 -5%;
}

// module Management

.moduleManagement{
  height:660px;
  @include posrelative (-2px);
  background:{
    size:cover;
    image: url('modules/3.jpg');
    image: image_path('modules/3.jpg');
  }
}

.modManage-form{
  margin:8% 0 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding:5%;
  border-radius:5px;
  @include posrelative(100px);
}

.ManageLogo{
  margin-top:30px;
}
.manage-logo{
  background-color:$bluegreen;
  height:6px;
  width:220px;
  margin:0 0 0 25%;
}

.quick{
  width:35px;
  margin:3%;
}
.modManage-title{
  color:$white;
  font-size:25px;
}

.modManage-quote{
  color:$white;
  font-size:14px;
  margin-bottom:8%;
}

.modManage-subtitle{
  font:{
    size:40px;
    weight:bolder;
  }
  color:black;
  margin:40px 0 0 0;
  text-align:left;
  padding-left:2%;
  border-left: 5px solid $yellow;
  background-color:$transparent-white;
}
.modManage-subquote{
  color:black;
  margin-top:10px;
  text-align:left;
  padding-left:2%;
  border-left: 5px solid $yellow;
  background-color:$transparent-white;
  font:{
    size:35px;
    weight:bolder;
  }
}


.Manage-title{
  text-align:right;
  padding-right:2%;
  background-color:$transparent-white;
  border-right: 5px solid $yellow;
  font:{
    weight:bold;
    size:30px;
  }
}

.Manage-quote{
  text-align:right;
  background-color:$transparent-white;
  padding:2%;
  border-right: 5px solid $yellow;
}