.orbit-timer{
  display:none;
}
.flash{
  margin-top:50px;
}
.error{
  margin:0 0 0 0px;
  background-color: rgba(215, 44, 44, 0.5);
  color:white;
  padding:8px;
  border:1px solid #D9534F;
  border-radius:3px 0 0 3px;
}
.notice{
  margin:0 0 0 0px;
  background-color: rgba(26, 107, 255, 0.5);
  color:white;
  padding:8px;
  border:1px solid #428BCA;
  border-radius:3px 0 0 3px;
  text-align:center;
}

.layer{
  position:relative;
  margin-top:-57%;
  width:100%;
  height:668px;
  background-color: rgba(0, 68, 108, 0.4);
  background-image: url('templateA/pattern.png');
  background-repeat: repeat, no-repeat;
  background-position: center center;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: auto, cover;
}

.head-ft{
  background-color: rgba(0, 0, 0, 0.3);
  padding:1%;
  position:relative;
  left:5%;
  margin-bottom:4%;

  p{
    margin:2% 0 2% 0;
    font-size:18px;
  }

}
.head-foot-title{
  color:white;
  font-size:24px;
  margin:5% 0 0 -25%;
}

.head-i{
  font-style:italic;
  color:#F1C40F;
  font-weight:bold;
  font-size:28px;
  margin-left:-25%;
}
.space{
  margin:5%;
}

.logo-quote{
  position:relative;
  top:-130px;
}

.layer-intro{position:relative;
    top:2px;
    color:white;

    .logo{
      margin:5% 1% 0 1%;
      width:240px;
      height:75px;
    }

    .phone{
      position:relative;
      top:-130px;
      background-color:white;
      border-radius:5px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    }

    .layer-headT{
      color:white;
      position:relative;
      top:20px;
    }

    h2{
      margin-top:15%;
      color:white;}
    .head-subtitle{
      color:white;
      font-size:20px;}
}

.phone-content{
  margin:7% 0 0 5%;
  height:500px;
}
.form{
  margin:0 5% 0 0;
}

.form .tt{
  height:45px;
  border:1px solid #1abc9c;
  border-radius:5px;
  color: #1abc9c;

  &:focus{
    border:1px solid #F1C40F;
    box-shadow: none;
  }
}
::-webkit-input-placeholder {
   color: #1abc9c;
}

:-moz-placeholder {
   color: #1abc9c;
}

::-moz-placeholder {
  color: #1abc9c;
}

:-ms-input-placeholder {
   color:#1abc9c;
}

.form .register-button{
  background-color:#F1C40F;
  border-radius:5px;
  width:350px;
  height:55px;
  font-weight:bold;
  border:none;
  color:white;
  font-size:18px;

  &:hover{
    background-color:#1abc9c;
  }
}
.phone-title{
  color:#34495E;
  font-size:25px;
  margin:0 0 1% 0;
}
.phone-quote{
  color:#7f8c8d;
  font-size:14px;
  margin:0 10% 5% 0;
}

.features{
  background-size:cover;
  margin:0 0 -0.28% -5%;

  .arrow-down{
    width:60px;
    height:50px;
    margin-bottom:10%;
  }

  h1{
    margin-top:3%;
    color:#34495E;
  }

  span{
    color: #1abc9c;
    font-weight:bold;
    font-size:50px;
  }

  h3{
    color:#34495E;
  }

  p{
    color:#95a5a6;
  }

  .features-icons{
    width:100px;
    height:95px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    &:hover{
      border-radius:115px;
      background-color:#F1C40F;
    }
  }
}

.modules{
  background: url('templateA/41.jpg');
  height:700px;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;

  h1{
  margin-top:10%;
   color:white;
  }

  span{
    font-weight:bold;
     color:#F1C40F;
  }
  .sub-module{
    color:white;
    font-size:20px;
    text-align:right;
  }

  h4{color:#34495E;
  }

  p{
    color:#95a5a6;
    font-size:17px;
    margin:0 8% 0 8%;
  }

  .module-icons{
    margin-top:4%;
    width:65px;
    height:60px;
  }
}

.layer-modules{
  background-color:rgba(0, 68, 108, 0.6);
  height:700px;
}

.modules-box{
  background-color:white;
  border:1px solid #F1C40F;
  border-radius:10px;
  margin:13% 10% 0 10%;
  width:330px;
  height:340px;
}

.arrow-icon{
  width:100px;
  height:100px;
  margin:60% 0 0 80%;
}

.quote{
  height:250px;
  background-size:cover;

  h1{
    margin-top:5%;
    color:#34495E;
    text-align:center;
  }

  span{
    color: #F1C40F
  }

  h4{
    color:#34495E;
    text-align:center;
  }

}

.footer{
  background-color:#1A2531;
  border-bottom:3px solid #F1C40F;

  p{
    color: #F1C40F;
      margin-top:1%;
      text-align:center;
  }
}

.bought{
  background-color:#1A2531;
  height:300px;
  border-top:2px solid #F1C40F;

  .layer-bought{
    background-color:rgba(20,23,32,0.6);
    height:300px;
  }

  h1{
    color:white;
    margin:5%;
  }

  p{
    color:white;
    font-size:20px;
    text-align:center;
  }

  .button{
    height:50px;
    margin-left:10%;
    background-color:transparent;
    font-weight:bold;
    border:3px solid #1abc9c;
    color:#1abc9c;
    border-radius:3px;

    &:hover{
      background-color:#F1C40F;
      color:white;
      border:3px solid #F1C40F;
      font-weight:bold;
    }
  }
}

