// Place all the styles related to the welcome controller here.
// They will automatically be included in68application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** color **/
$white: #fff;
$black: #000;
$midblack:#384047;
$gold:#FFD700;
$yellow:#FFFF00;
$gray:#A9A9A9;
$dimgray:rgba(235,234,234,1);
$gray-transparent:rgba(0,0,0,0.4);
$darkgray-transparent:rgba(36,36,36,0.8);

/** font **/
$firstFont:'Droid Sans', sans-serif;
$normalsize:20px;
$smallsize:18px;
$smallestsize:15px;

@mixin yellow-gradient{
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%);
  background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%);
  background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}

body{
  background: url('templateD/compass.png') !important;
  background-attachment: fixed !important;
}

.head{
  position: relative;
  height:659px;
}

.layer {
    background-color: $darkgray-transparent;
    height:659px;
}

.intro-hr{
  width: 100px;
  margin:-7% 0 0 3%;
  border: 2px solid $gold;
}
.introform-hr{
  width: 100px;
  margin:-7% 0 0 0;
  border: 2px solid $gold;
}

.feature-hr{
  width: 120px;
  margin:0 0 5% 10%;
  border: 2px solid $gold;
}

.modules-hr{
  width: 120px;
  margin:5% 0 2% 10%;
  border: 2px solid $gold;
}

.prices-hr{
  width: 120px;
  margin:5% 0 2% 20%;
  border: 2px solid $gold;
}

.intro-form{
  background-color: $gray-transparent;

  .social-media{
    margin-top:12%;

    h5{
      color:$gray;
      font-family:$firstFont;
    }
  }

  .social-icons{
    margin-top:-6%;
    width:50px;
  }

  .form-content{
    margin-top:33%;

    h4{
    text-align:center;
    color:$gray;
    font-family:$firstFont;
    }

  }

  .form{
    margin:10% 0 14% 0;
  }

  .form input{
    border-radius: 5px;
    border:2px solid $gold;
    background-color: $white;
    height:45px;
  }

  .form input[type=text]:focus{
    border-radius: 5px;
    border:2px solid $gold;
    font-family: $firstFont;
  }

  .form label{
    color:$gray;
    font-family:$firstFont;
  }
  button{
    margin-top:5%;
    border-radius: 5px;
    font-family: $firstFont;
    font-size: $smallsize;
    width:305px;
    background-color:$gold;
  }

  button:hover{
    background-color:$yellow;
  }

}

.intro-content{
  margin-top:14%;

  h1{
    color:white;
    font-family: $firstFont;
  }

  .intro-desc{
    color:$gray;
    font-size:$normalsize;
    font-family: $firstFont;
  }

  .intro-footer{
    margin-top:15%;
    color:$white;
    font-size:24px;
    font-family: $firstFont;
  }

  h3{
    margin-top:-3%;
    color:$white;
    font-style:italic;
    font-weight:bold;
  }
}

.img-logo{
  width:180px;
}

.features{
  background-color:$dimgray;
  padding:3% 0 2% 0;

  .feature-title{
    color:$midblack;
    font-family:$firstFont;
    font-size:30px;
    margin-bottom:10%;
  }

  .features-icons{
    height:70px;
    margin:20% 10% 0 21%;

  }

  .ft-icn{
    background-color:$gold;
    height:130px;
    width:130px;
    border:1px solid $white;
    border-radius:70px;

    &:hover{
      -webkit-animation: changecolor 5s;
      animation: myfirst 5s;
    }
  }

  h3{
    margin-left:10%;
    font-size:$normalsize;
  }

  p{
    color:$gray;
    font-size:$smallestsize;
    margin:0 25% 0 -15%;
    text-align:center;
  }
}

.modules{
  background-color:$white;

   .modules-title{
    color:$midblack;
    font-family:$firstFont;
    font-size:30px;
    margin-bottom:5%;
  }

  .submod-title{
    color:$gold;
    font-family:$firstFont;
    font-weight:bold;
  }

  .submod-subtitle{
    color:$gray;
    font-family:$firstFont;
  }
}

.prices{
  background-color:$dimgray;
  width:100%;

  .prices-title{
    color:$midblack;
    font-family:$firstFont;
    font-size:30px;
    margin-bottom:5%;
  }

  .prices-subtitle{
    @extend .prices-title;
    margin-bottom:5%;
  }

  .subprices-title{
    font-size:$normalsize;
  }

  .subprices-subtitle{
    color:$gray;
    font-size:$smallestsize;
  }

  .prices-sub{
    color:$midblack;
    font-family:$firstFont;
    font-size:$normalsize;
    margin-bottom:5%;
  }

  .planA{
    height:155px;
    border-radius:10px;
    margin-bottom:5%;
    @include yellow-gradient;
  }

  .planB{
    @extend .planA;
    }

  .buyer-title{
    color:$white;
    font-family:$firstFont;
    font-size:$normalsize;
    font-weight:bold;
    text-align:center;
    margin-top:5%;
  }

  .app-price{
    color:$white;
    font-family:$firstFont;
    font-size:45px;
    text-align:center;
  }

  .small-app-text{
    font-size:$smallsize;
  }

}

.test-pic{
  margin:20% 0 5% 0;
  height:350px;
}


.subscribe{
  height:350px;

  h1{
    margin-top:10%;
    color:$white;
    font-family:$firstFont;
  }

  p{
    color:$gray;
    font-family:$firstFont;
    font-size:$normalsize;
    text-align:center;
  }

  button{
    margin-top:5%;
    border-radius: 5px;
    font-family: $firstFont;
    font-size: $smallsize;
    background-color:$gold;
  }

  button:hover{
    background-color:$yellow;
  }

  .sub-layer{
    height:350px;
    background-color:$gray-transparent;
  }
}

footer{
  background-color:$white;
  padding:0.50%;

  span{
    color:$black;
    font-family:$firstFont;
  }
}
@-webkit-keyframes changecolor {
    0%   {background: $gold;}
    25%  {background: $white; border-color:$white;}
    50%  {background: $gray; border-color:$gray;}
    100% {background: $gold;}
}

@keyframes changecolor {
    0%   {background: $gold;}
    25%  {background: $white;border-color:$white;}
    50%  {background: $gray; border-color:$gray;}
    100% {background: $gold;}
}